<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="container">
    <h1>Create your own cocktail </h1>
    <p>Keep your favourite recipes in one place </p>
    <%= link_to "New Cocktail", new_cocktail_path, class: "btn-banner" %>
  </div>
</div>

<div class="cocktails-wrapper">
  <div class="d-flex flex-wrap cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card m-3 d-flex">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class: 'card-img-top card-image' %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= cocktail.name %></h2>
          <%= link_to 'See the recipe', cocktail_path(cocktail), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

