<div class="cocktail-page">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <hr>
  <div class="ingredients-box container">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key %>
    <% else %>
     <%= image_tag ("cocktails.jpg") %>
    <% end %>
      <div class="ingredient-box">
        <h2>Ingredients:</h2>
        <div class="ingredients">
            <% @cocktail.doses.each do |dose| %>
              <p><%= dose.description%> <%= dose.ingredient.name %></p>
            <% end %>
          </ul>
        </div>
      </div>

  <div class="show-links">
    <%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail.id), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Edit Cocktail', edit_cocktail_path(@cocktail.id), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Delete Cocktail', cocktail_path(@cocktail.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary delete-btn' %>
  </div>
  </div>

</div>



<!-- div class="container">
   <% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <p>No image attached</p>
  <% end %>
  <h2> <%= "#{@cocktail.name}" %></h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description%> <%= dose.ingredient.name %><small><%= link_to ":x:", dose_path(dose), method: :delete %></small></li>
    <% end %>
  </ul>
  <br><br><br>
  <button type="button" class="btn btn-light" style="padding: 20px 50px; color: black;"><span> <%= link_to "Add doses", new_cocktail_dose_path(@cocktail) %> </span></button><br> <br>
  <button type="button" class="btn btn-light" style="padding: 20px 50px; color: black;"><span> <%= link_to "Back to Cocktails", "/cocktails" %> </span> </button>
</div> -->
<!-- <div class="cocktail-container">
  <h1 class="cocktail-name text-center mb-5"><%= @cocktail.name %></h1>
  <div class="cocktail-details">
    <ul>
      <h5 class="cocktail-doses">Ingredients</h5>
      <% @cocktail.doses.each do |dose| %>
        <li class="cocktail-doses"><%= dose.description %> - <%= dose.ingredient.name %></li>
      <% end %>
    </ul>
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 400, width:400, crop: :fill, class: 'show-image' %>
    <% end %>
  </div>

</div> -->

